.sticky {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #530e33 !important;
  z-index: 20;
}
.main-header {
    left: 50%;
    transform: translateX(-50%);
    height: auto;
  }
.block-parallax-1 {
  position: relative;
}
.block-parallax-1 .parallax-bg {
  background-position: bottom center;
  background-repeat: no-repeat;
  height: auto;
  position: absolute;
  width: 100%;
  min-width: 1170px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

.block-parallax-1 .md-box {
  background-color: #07070c;
  position: relative;
  height: 98vh;
}
.block-parallax-1 .md-box .nav {
  position: relative;
  top: 0;
  left: 0;
}
.nav .navbar {
  background-color: #13131336;
  color: #000000;
  width: 100%;
}
.navbar-nav {
  width: 97%;
  justify-content: flex-end;
}
.navbar-light .navbar-nav .active > .nav-link {
  color: #ffffff;
}
.navbar-light .navbar-nav .nav-link {
  color: rgb(255, 255, 255);
}
.navbar-light .navbar-brand {
  color: rgb(255, 255, 255);
  padding-left: 2rem;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: #cecece;
  line-height: 20px;
}
.navbar-light .navbar-nav .nav-link:focus {
  color: #520762;
}
.navbar-light .navbar-brand:hover {
  color: #6e6d6d;
}
.navbar-light .navbar-brand:focus {
  color: #ffffff;
}

.main-header {
  color: rgb(255, 255, 255);
  position: absolute;
  transform: translateX(-50%);
  top: 32%;
  z-index: 9999;
  height: auto;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.navbar-toggler:focus {
  outline: none;
}
.main-header h1 {
  text-align: center;
}
.main-header a{
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 15px;
  margin-top: 40px;
  /* width: auto; */
  background: transparent;
  color: rgb(131, 125, 129);
  border-radius: 7px;
  outline: none;
  display: inline-block;
  transition: all 0.5s;
  cursor: pointer;
  transition-duration: 0.7s;
  /* border: 2px solid rgb(230, 112, 112); */
  text-decoration: none;
}

.header-btn:hover {
  color: rgb(87, 16, 49);
  margin-top: 10px;
  transition: all 0.5s;
}
.header-btn:active {
  background-color: #a7a4a4;
  color: #a7a4a4;
}
.header-btn i {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.3s;
}

.header-btn:hover i {
  padding-bottom: 55px;
}

@media only screen and (max-width: 768px) {
  .nav .navbar {
    background-color: rgb(83, 14, 51);
    border-bottom: 4px solid rgb(87, 84, 84);
  }
  .navbar-light .navbar-brand {
    padding-left: 0rem;
  }

  .block-parallax-1 .md-box {
    height: 90vh;
  }
  #particles-js {
    margin-top: 3rem;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .navbar-light .navbar-nav .nav-link:hover {
    color: #cecece;
    line-height: 30px;
  }
  #particles-js {
    margin-top: 3rem;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 425px) {
  
  .block-parallax-1 .md-box {
    height: 80vh;
  }
  .navbar-light .navbar-nav .nav-link:hover {
    color: #cecece;
    line-height: 30px;
  }
}
@media only screen and (min-device-width: 769px) and (max-device-width: 1024px) {
  .navbar-light .navbar-brand {
    color: rgb(255, 255, 255);
    padding-left: 0;
  }
    .block-parallax-1 .md-box {
      height: 90vh;
    }
}



/* ------------------------------------------------------------------- */
.text-focus-in {
  -webkit-animation: text-focus-in 2.3s ease-in 1s both;
  animation: text-focus-in 2.3s ease-in 1s both;
}

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.text-flicker-in-glow {
  -webkit-animation: text-flicker-in-glow 2s
    cubic-bezier(0.6, -0.28, 0.735, 0.045) both;
  animation: text-flicker-in-glow 2s cubic-bezier(0.6, -0.28, 0.735, 0.045) both;
}

@-webkit-keyframes text-flicker-in-glow {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
    text-shadow: none;
  }
  10.1% {
    opacity: 1;
    text-shadow: none;
  }
  10.2% {
    opacity: 0;
    text-shadow: none;
  }
  20% {
    opacity: 0;
    text-shadow: none;
  }
  20.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
  }
  20.6% {
    opacity: 0;
    text-shadow: none;
  }
  30% {
    opacity: 0;
    text-shadow: none;
  }
  30.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.5% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.6% {
    opacity: 0;
    text-shadow: none;
  }
  45% {
    opacity: 0;
    text-shadow: none;
  }
  45.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  55% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  55.1% {
    opacity: 0;
    text-shadow: none;
  }
  57% {
    opacity: 0;
    text-shadow: none;
  }
  57.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.35);
  }
  60% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.35);
  }
  60.1% {
    opacity: 0;
    text-shadow: none;
  }
  65% {
    opacity: 0;
    text-shadow: none;
  }
  65.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75.1% {
    opacity: 0;
    text-shadow: none;
  }
  77% {
    opacity: 0;
    text-shadow: none;
  }
  77.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
  85% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
  85.1% {
    opacity: 0;
    text-shadow: none;
  }
  86% {
    opacity: 0;
    text-shadow: none;
  }
  86.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6),
      0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
  100% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6),
      0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
}
@keyframes text-flicker-in-glow {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
    text-shadow: none;
  }
  10.1% {
    opacity: 1;
    text-shadow: none;
  }
  10.2% {
    opacity: 0;
    text-shadow: none;
  }
  20% {
    opacity: 0;
    text-shadow: none;
  }
  20.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
  }
  20.6% {
    opacity: 0;
    text-shadow: none;
  }
  30% {
    opacity: 0;
    text-shadow: none;
  }
  30.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.5% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.6% {
    opacity: 0;
    text-shadow: none;
  }
  45% {
    opacity: 0;
    text-shadow: none;
  }
  45.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  55% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  55.1% {
    opacity: 0;
    text-shadow: none;
  }
  57% {
    opacity: 0;
    text-shadow: none;
  }
  57.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.35);
  }
  60% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.35);
  }
  60.1% {
    opacity: 0;
    text-shadow: none;
  }
  65% {
    opacity: 0;
    text-shadow: none;
  }
  65.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75.1% {
    opacity: 0;
    text-shadow: none;
  }
  77% {
    opacity: 0;
    text-shadow: none;
  }
  77.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
  85% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
  85.1% {
    opacity: 0;
    text-shadow: none;
  }
  86% {
    opacity: 0;
    text-shadow: none;
  }
  86.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6),
      0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
  100% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6),
      0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
}
